# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
venv/
env/
ENV/

# Flask & Uploads
static/uploads/*
!static/uploads/.gitkeep
instance/
.webassets-cache

# Environment variables
.env
.env.*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store